@model BankingMVC.Models.Dtos.CreateManagerRequestModel

<div>
<center><h2><i>Create Manager Form</i></h2></center>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="row col-md-10 pt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span class="text-center"><h3>@ViewData["Title"]</h3></span>
            
            <form asp-action="Add">
            <div>
                <label asp-for="FirstName"></label><br>
                <input type="text" asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                <label asp-for="MiddleName"></label><br>
                <input type="text" asp-for="MiddleName" class="form-control">
                <span asp-validation-for="MiddleName"></span>
            </div>
            <div>
                <label asp-for="LastName"></label><br>
                <input type="text" asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <label asp-for="Email"></label><br>
                <input type="text" asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
            <div>
                <label asp-for="PhoneNumber"></label><br>
                <input type="text" asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="Address"></label><br>
                <input type="text" asp-for="Address" class="form-control">
                <span asp-validation-for="Address"></span>
            </div>
            <div>
                <label asp-for="Pin"></label><br>
                <input type="text" asp-for="Pin"class="form-control" >
                <span asp-validation-for="Pin"></span>
            </div>
            </div>
                <i>chosee ur gender:</i>
                <label for="">Male</label>
                <input type="radio" name="Gender" value="1">
                <label for="">Female</label>
                <input type="radio" name="Gender" value="2">
                <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
                <div class="shape"></div>
            </div>

            <div>
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
            <li>
                <a asp-controller="User"  text asp-action="Super">Back</a>
            </li>
            </form>
            
        </div>
        <div class="col-md-3"></div>
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}